<div class="nested-fields">
  <div class="form-group">
    <%= f.text_field :name, label: "曲名" %>
    <div id="links" class= "disc_btn" >
      <%= link_to_remove_association "曲削除", f %>
    </div>
  </div>
</div>