<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.label :曲名 %><br>
    <%= f.text_field :name, class: "col-xs-12" %><br>
    <%= link_to_remove_association "曲名削除", f %>
  </div>
</div>