
<div class="main-visual">
    <div class="main-title">
        <div class="logo"></div>
        <!-- <h2 class="main-visual-text">Who your favorite artists?</h2> -->
    </div>
    <div class="about">
        <div class="about-contents">
            <h2 class="about-title">About</h3>
            <p class="about-text">
                ToFuレコーズは、インディーズバンド専門のCD通販サイトです。<br>
                好きなアーティストを登録することで、<br>
                マイページからあなたのお気に入りアーティストの最新情報をいつでもチェックできます。
            </p>
            <button type="button" class="btn btn-default">Sign Up</button>
        </div>
    </div>
</div>

<div class="new-items">
    <div class="new-items-container">
        <h3 class="new-items-title">New Items</h3>
        <div class="new-items-row clearfix">
            <div class="new-items-box">
                <div class="new-items-image"></div>
                <div class="new-items-text">
                    <h4 class="artist-name">Artist Name</h4>
                    <p class="cd-name">CD Name</p>
                </div>
            </div>
            <div class="new-items-box">
                <div class="new-items-image"></div>
                <div class="new-items-text">
                    <p class="artist-name">Artist Name</p>
                    <p class="cd-name">CD Name</p>
                </div>
            </div>
            <div class="new-items-box">
                <div class="new-items-image"></div>
                <div class="new-items-text">
                    <p class="artist-name">Artist Name</p>
                    <p class="cd-name">CD Name</p>
                </div>
            </div>
            <div class="new-items-box">
                <div class="new-items-image"></div>
                <div class="new-items-text">
                    <p class="artist-name">Artist Name</p>
                    <p class="cd-name">CD Name</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-artists">
    <div class="top-artists-container">
        <h3 class="top-artists-title">Top Artists</h3>
        <div class="top-artists-row clearfix">
            <div class="top-artists-box"></div>
            <div class="top-artists-box"></div>
            <div class="top-artists-box"></div>
        </div>
        <button type="button" class="btn btn-default">View More</button>
    </div>
</div>

