
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="container">
  <div class="row">
      <%= devise_error_messages! %>
      <h3>Sign Up</h3>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name">名前</label>
          <input name="user[name]" type="name" class="form-control" id="name" placeholder="名前">
        </div>
        <div class="form-group">
          <label for="kana">名前（カナ）</label>
            <input name="user[kana]" type="text" class="form-control" id="kana" placeholder="名前（カナ）">
        </div>
        <div class="form-group">
          <label for="post">郵便番号</label>
            <input name="user[post]" type="text" class="form-control" id="user_post" onKeyUp="AjaxZip3.zip2addr(this,'','user[address]','user[address]');" placeholder="郵便番号">
        </div>
          <div class="form-group">
            <label for="user[address]">住所</label>
              <input name="user[address]" type="text" class="form-control" name="user[address]" id="user_address" placeholder="住所">
            </div>
          <div class="form-group">
            <label for="tel"">電話番号</label>
              <input name="user[tel]" type="tel" class="form-control"  id="tel" placeholder="電話番号">
            </div>
          <div class="form-group">
            <label for="email">メールアドレス</label>
              <input name="user[email]" type="email" class="form-control" id="email" placeholder="メールアドレス">
            </div>
          <div class="form-group">
            <label for="password">パスワード</label>
              <input  type="password" class="form-control" name="user[password]" id="password" placeholder="パスワード">
            </div>
          <div class="form-group">
            <label for="password_confirmation">パスワード確認</label>
              <input  type="password" class="form-control" name="user[password_confirmation]" id="password_confirmation"  placeholder="パスワード確認">
            </div>
          <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> パスワードを記憶する
                </label>
              </div>
            </div>
          </div>
          </div>
          <div class="button-group">
            <button type="submit" class="btn-outline-success btn-block">Sign Up</button><br><br><br>
            <%= render "devise/shared/links" %>
          </div>
          </div>
        </form>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>
