// Place all the styles related to the admin/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form_artist_new {
	width: 70%;
	margin:auto;
	text-align: center;
	color: black;
}
.control-label {
	color: black;
}