
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="container">
    <div class="row">
      <h3>Log In</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="email">メールアドレス</label>
            <input name="user[email]" type="email" class="form-control" id="email" placeholder="メールアドレス">
          </div>
          <div class="form-group">
            <label for="password">パスワード</label>
            <input name="user[password]" type="password" class="form-control" id="password" placeholder="パスワード">
            <% if devise_mapping.rememberable? -%>
              <div class="remember">
                <%= f.check_box :remember_me %>
                <%= f.label :"パスワードを記憶する" %>
              </div>
            <% end -%>
          </div>
          <div class="button-group">
            <%#= link_to new_session_path(resource_name) do %>
              <button type="submit" class="btn-outline-success btn-block">Log In</button>
            <%# end %><br><br><br>
            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
      <%end%>

    </div>
  </div>
</div>