<% @requests.each do |request| %>

<tbody>
<tr>
<p>Artist name</p>
	<td>
		<%= request.artist_name %>
	</td>
<p>Song</p>
	<td>
		<%= request.song_name %>

	</td>
<p>url</p>
	<td>
		<%= request.url %>

	</td>

</tr>

<% end %>
</tbody>