<div class="container">
	<div class="row">
		<div class="col-xs-offset-4">

<% @requests.each do |request| %>

<tbody>
<th>ユーザー名</th>
<th>アーティスト名</th>
<th>曲名</th>
<th>URL</th>
<tr>
<p>ユーザー名</p>
	<td>
		<%= request.user.name if request.user_id.present? %>

	</td>
<p>アーティスト名</p>
	<td>
		<%= request.artist_name %>
	</td>
<p>曲名</p>
	<td>
		<%= request.song_name %>

	</td>
<p>url</p>
	<td>
		<%= request.url %>

	</td>

</tr>

<% end %>
</tbody>

</div>
</div>
</div>