/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require rails_bootstrap_forms
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


#notice {
	margin: 0 auto;
	text-align: center;
	padding:12px;
	font-weight:850;
	color:#262626;
	width: 500px;
	font-size: 18px;
}

.cd_show{
	padding: 20px 0;
	display:block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 100%;
	height: 40px;
	background-color: black;
}
h1 {
	font-size: 130px;
	font-family: 'Playfair Display', serif;
}
h2 {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
}
h3 {
	padding-top: 90px;
	font-size: 32px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding-bottom: 50px;
}
h3::after {
	content: "";
	display: block;
	height: 3px;
	/*width:110px;*/
	background-color: #220000;
	margin:0 auto;
	margin-top: 10px;
}
.section-text {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	text-align: center;
	word-wrap: break-word
}
h4 {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}
h5 {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}
p {
	font-size: 18px;
	word-wrap: break-word;
}
button {
	margin-top: 20px;
	font-size: 15px;
    font-family: 'Playfair Display', serif;
    padding: 15px;
    width: 100px;
    border-radius: 0px;
}

.input-group {
	width: 500px;
	margin: auto;
}

.user-name {
	padding-top: 10px;
	font-size: 14px;
    margin:  0 0 0 10px;
}

.header-box {
	width: 90%;
	margin:0 auto;
}

.header-box p{
	display: inline;
	text-align: center;
	font-size: 12px;
	object-fit: contain;
	float: left;
	color:#FAFAFA;
	line-height: 40px;
	padding: 0;
}

.header-box img {
	/*display: inline;*/
	float: left;
	object-fit: cover;
	height: 40px;
	/*object-position: 0% 100%;*/ /*左右 上下*/
}

nav {
	text-align: right;
	font-family: 'Playfair Display', serif;
	color:#FAFAFA;
}

nav .i{
	padding-right: 40px;
	font-size: 20px;
	line-height: 40px;
	color:#FAFAFA;
	padding-right: 40px;
	font-size: 12px;
}

footer {
	width: 100%;
	height: 330px;
	text-align: center;
	line-height: 30px;
	font-family: 'Playfair Display', serif;
	margin-top: 90px;
}
.footer-containter {
	width: 900px;
	margin: auto;
	height: 60px;
	line-height: 60px;
}
.fotter-contents{
	float: left;
}
.fotter-contents a {
	margin: 0px 17px;
	color: black;
}

.sorcial {
	float: right;
}
.sorcial i {
	font-size: 20px;
	margin: 0 10px;
}
.copyright {
	font-size: 8px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	color: gray;
}

body{
	padding-bottom: 90px;
}

.form {
	width: 86%;
	margin: auto;
	text-align: center;
}