/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 100%;
	height: 60px;
	background-color: black;
}

h2 {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
}
h3 {
	padding-top: 90px;
	font-size: 32px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding-bottom: 50px;
}
h3::after {
	content: "";
	display: block;
	height: 3px;
	width:1100px;
	background-color: #220000;
	margin:0 auto;
	margin-top: 10px;
}
.section-text {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	text-align: center;
	word-wrap: break-word
}
h5 {
	font-size: 20px;
}
p {
	font-size: 18px;
	word-wrap: break-word;
}
button {
	margin-top: 20px;
}

i.fas.fa-home {
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	object-fit: contain;
	float: left;
	color:#FAFAFA;
}
.header-box {
	width: 1024px;
	margin:0 auto;
}

nav {
	text-align: right;
}

nav .i{
	padding-right: 40px;
	font-size: 20px;
	line-height: 60px;
	color:#FAFAFA;
	padding-right: 40px;
}

.main-visual {
	width: 100%;
	height: auto;
	background-image: url(/assets/guitar3_Fotor.jpg);
	text-align: center;
	background-size: cover;
	background-position: center;
	color: #FAFAFA;

}
.main-title {
	padding-top: 104px;
	height: 800px;
	text-align: center;
}
.logo {
	width: 560px;
	height: 495px;
	background-image: url(/assets/logo.png);
	background-size: cover;
	background-position: center;
	display: inline-block;
}

.about {
	height: 800px;
}

.about-contents {
	width: 920px;
	color: #FAFAFA;
	margin:0px auto;
}
.about-title {
	padding-top: 90px;
	font-size: 64px;
	padding-bottom: 30px;
}
.btn-success {
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding: 15px;
    width: 135px;
    border-radius: 25px;
}

.new-items-container {
	margin: auto;
	width: 1100px;
}

.new-items-box {
	float: left;
	width: 520px;
	height: 240px;
	margin: 15px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.new-items-image {
	float: left;
	width: 230px;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.new-items-text {
	float: left;
	width: 290px;
	height: 100%;
	padding: 50px 30px;
}
.new-items-image:nth-child(1){
	background-image: url(/assets/guitar3.jpg);
}
.new-items-imagex:nth-child(2){
	background-image: url(/assets/guitar3.jpg);
}
.new-items-image:nth-child(3){
	background-image: url(/assets/guitar3.jpg);
}
.new-items-imagex:nth-child(4){
	background-image: url(/assets/guitar3.jpg);
}

p.artist-name {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}
.top-artists-container {
	width: 1100px;
	margin: auto;
	text-align: center;
	padding-bottom: 90px;
}

.top-artists-box {
	float: left;
	height: 500px;
	width: 336px;
	margin: 15px;
	background-image: url(/assets/guitar3.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.btn-default {
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding: 15px;
    width: 135px;
    border-radius: 0px;
    margin-top: 55px;
}

.ganre {
	background-color: black;
	text-align: center;
	padding-bottom: 10px;
}
.ganre-container{
	width: 550px;
	margin: auto;
	padding-top: 60px;
}
p.ganre-title {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	color: #FAFAFA;
}
.ganre-box {
	text-align: center;
	padding-bottom: 90px;
	padding-top: 30px;
}
.ganre-text {
	float: left;
	margin: auto;
	width: 275px;
	text-align: center;
}
a.ganre-name {
	font-size: 15px;
	font-family: 'Playfair Display', serif;
	color: #FAFAFA;
}

footer {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: 'Playfair Display', serif;
}
.footer-containter {
	width: 900px;
	margin: auto;
}
.fotter-contents{
	float: left;
}
.fotter-contents a {
	margin: 0px 17px;
	color: black;
}

.sorcial {
	float: right;
}
.sorcial i {
	font-size: 20px;
	margin: 0 10px;
}
.copyright {
	font-size: 8px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	color: gray;
}