// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cart{
	width: 100%;
}
.ship {
  display: none;
}
.ship01 {
  display: block;
}

.cart_icon{
  color: #ffcc00;
  padding-top: 10px;
}
.cart_box{
  border: solid 0.5px #333333;
  border-radius: 10px;
  width: 75%;
  height: auto;
  padding: 20px 1%;
  margin: 0 auto;
}
.cart_item{
  width: 49%;
  height: auto;
  float: left;
  margin: 0 0 1% 1%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  background-color: #eeeeee;
}
.cart_price{
	text-align: center;
	padding-bottom: 10px;
}
.cart_jaket{
	float: left;
}
.cart_cds{
	font-size: 16px;
	float: left;
	padding: 15px 20px;
	margin-left: 40px;
}
.cart_cds p{
   word-break: break-all;
   width: 170px;
}
.cart_btn_box{
	width: 100%;
	padding: 0 0 50px 0;
	display: inline-block;
	text-align: center;
}
.cart_btn_box .btn_box{
	width: 320px;
	margin: 0 auto;
}
.cart_btn1{
	float: left;
	padding-left: 20px;
}
.cart_btn1 .fbtn{
	height: 40px;
	width: 150px;
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    background-color: #ffcc00;
}
.cart_btn2{
	float: left;
}
.cart_btn2 .fbtn{
	height: 40px;
	width: 150px;
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    background-color: white;
}
.cart_ship{
  border: solid 0.5px #333333;
  border-radius: 10px;
  width: 75%;
  height: auto;
  padding: 10px 20px;
  margin: 0 auto;
}
.ship_title{
	text-align: center;
}
.create_btn{
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 10px
}
.create_btn .fbtn{
	height: 40px;
	width: 150px;
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    background-color: white;
}
.cart_quantity{
	width: 60px;
}
.cart th{
	text-align: left;
}
.cart td{
	text-align: left;
}
.red{
	font-size: 10px;
	color: red;
}