// Place all the styles related to the cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*cd_indexページ*/
 .cd_index{
	height: auto;
	text-align: center;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
 }

.cd_jaket_box{
	width: 250px;
	height: 250px;
	object-fit: cover;
	/*background-color: hotpink;*/
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
	display: inline-block;
	position:		relative;
	overflow:		hidden;
	margin: 5px;
}
.cd_jaket_img{
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.cd_jaket_box .caption {
	text-align: 		center;
	padding-top:		30px;
	color:			#fff;
	font-family: 'Playfair Display', serif;
}
.cd_index_cd_title {

}

.cd_jaket_box .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,10,.30);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.cd_jaket_box:hover .mask {
	opacity:		1;	/* マスクを表示する */
}
.searchbox{
	padding-bottom: 50px;
}

.cd_index_title{
}

/*cd_showページ*/
.cd_show{
	width: 86%;
	height: auto;
	text-align: center;
	position: relative;
}
.cd_show_image{
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.c_s_info {
	padding-top: 90px;
}
.cd_btn{
	height: 40px;
	width: 150px;
	font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.cart_btn{
	padding-top: 30px;
}
.back_btn{
	padding-top: 100px;
}

/*admin_cd_newページ*/
.form_cd_new {
	color: black;
	margin: auto;


}
.cd_new_container{
	background-color: #f5f5f5;
	margin: 10px;
	padding-bottom: 20px;
}
.form_cd_new .control-label{
	color:black;
}
.cd_new_disc{
	margin: 20px auto;
	background-color: #f5f5f5;
	padding: 10px 0;
}
.update_btn{
	padding: 20px 0;
}

.form_cd_new input {
	margin: auto;
}
.disc_btn {
	text-align: center;
}
.form_cd_new {
	text-align: center;
}

.form_cd_new label {
	padding-top: 20px;

}
.actions.update_btn {
	text-align: center;
}

.songs {
	text-align: center;
}










