// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group{
	padding:5px;
}
.booksbody{
	/*background-image: url(/assets/guitar3.jpg);*/
	background-size: cover;
	padding-bottom:40px;
}
.control-label{
	color:white;
}
.control-label1{
	color:white;
}
.checkbox{
	color:white;
}
.remember{
	margin-top:10px;
	color:white;
}
.botan1{
	font-size: 18px;
    font-family: 'Playfair Display', serif;
}