// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-group{
	padding:5px;
	width: 400px;
	margin: auto;
	text-align: center;
}
.remember{
	margin-top:10px;
}

button {
	background-color: green;
	color: white;
	border-radius: 5px;
}

.button-group {
	padding:5px;
	width: 200px;
	margin: auto;
	text-align: center;
}

