// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.request1::before{
		background-color: rgba(0,0,0,0.5);
}
.request1{
	background-image: url(/assets/guitar5.jpg);
	background-size: cover;
}
.requestform{
	font-size: 60px;
	color: white;
	padding-top: 180px;
}
.requestform2{
	font-size: 20px;
	color: white;
}
.requestform3{
	color:white;
}
.requestform4{
	padding-bottom: 150px;
	padding-top: 100px;
}
.kotira{
	padding-left: 30px;
	padding-bottom: 180px;
}
.requestform5{
	font-weight: bold;
	padding-bottom: 70px;
}