// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.main-visual {
	width: 100%;
	height: auto;
	background-image: url(/assets/guitar3_Fotor.jpg);
	text-align: center;
	background-size: cover;
	background-position: center;
	color: #FAFAFA;

}
.main-title {
	padding-top: 104px;
	height: 800px;
	text-align: center;
}
.logo {
	width: 560px;
	height: 495px;
	background-image: url(/assets/logo.png);
	background-size: cover;
	background-position: center;
	display: inline-block;
}

.about {
	height: 805px;
}

.about-contents {
	width: 60%;
	color: #FAFAFA;
	margin:0px auto;
	padding-top: 90px;
}
.about-title {
	padding-top: 90px;
	font-size: 64px;
	padding-bottom: 30px;
}
.about-contents button {
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding: 15px;
    width: 135px;
    border-radius: 0px;
}

.new-items-container {
	margin: auto;
	width: 86%;
}

.new-items-row {
	text-align: center;

}
.new-items-box {
	/*float: left;*/
	width: 520px;
	height: 240px;
	margin: 15px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
	display: inline-block;
}
.new-items-image {
	float: left;
	width: 230px;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.new-items-text {
	float: left;
	width: 290px;
	height: 100%;
	padding: 50px 30px;
}
.new-items-image:nth-child(1){
	background-image: url(/assets/guitar3.jpg);
}
.new-items-imagex:nth-child(2){
	background-image: url(/assets/guitar3.jpg);
}
.new-items-image:nth-child(3){
	background-image: url(/assets/guitar3.jpg);
}
.new-items-imagex:nth-child(4){
	background-image: url(/assets/guitar3.jpg);
}

p.artist-name {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}

.top-artists {
	text-align: center;
}
.top-artists-container {
	width: 86%;
	margin: auto;
	padding-bottom: 90px;
}

.top-artists-box {
	float: left;
	height: 500px;
	width: 31%;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;	/* 相対位置指定 */
	object-fit: cover;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.top-artists-image{
	float: left;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.top-artists-box .caption {
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
	text-shadow: 0 0 10px rgba(0,0,20,.9);
}
.top-artists-box .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,10,.30);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.top-artists-box:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.top-artist-name{
	margin-top: 35%;
    font-size: 300%;
}
.top-artists button {
	font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding: 15px;
    width: 135px;
    border-radius: 0px;
    display: inline-block;
}
.ganre {
	background-color: black;
	text-align: center;
	padding-bottom: 10px;
}
.ganre-container{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}
p.ganre-title {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	color: #FAFAFA;
}
.ganre-box {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
.ganre-text {
	float: left;
	margin: 0 auto;
	width: 25%;
	text-align: center;
	font-size: 15px;
	font-family: 'Playfair Display', serif;
	color: #FAFAFA;
}
a.ganre-name {
	font-size: 15px;
	font-family: 'Playfair Display', serif;
	color: #FAFAFA;
}



/*ここからはAdminトップページです。*/


.s-graph {
	width: 86%;
	height: 664px;
	background-color: pink;
	margin: auto;
	padding: 30px;
}

th {
	text-align: center;
}
.a-container {
	width: 86%;
	 /*機能実装時にここを消す*/
	/*background-color: yellow;*/
	margin: auto;
	padding: 30px;
	text-align: center;
}
.a-sales {
	width: 50%;
	padding:20px;
	float: left;
	/*background-color: orange;*/
}
.a-favorite {
	width: 50%;
	padding:20px;
	float: left;
	/*background-color: gold;*/
}

.c-container {
	width: 86%;
	height: 664px;/*機能実装時にここを消す*/
	/*background-color: aquamarine;*/
	margin: auto;
	padding: 30px;
	text-align: center;
}